.club-section {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  .club {
    .title {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      margin-bottom: 30px;
      .first {
        background-color: black;
        color: white;
        width: fit-content;
        padding: 10px;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
      }

      .sec {
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        color: gray;
        span {
          margin-left: 10px;
        }
      }
    }

    .card-container {
      margin: auto;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      .card {
        width: 30%;
        padding: 20px 10px;
        text-align: left;
        border-bottom: 1px solid gray;
        cursor: pointer;
        &:hover {
          background-color: #ffd700;
        }
        .img {
          width: 350px;
          margin: auto;
          img {
            width: 100%;
          }
        }

        .txt {
          margin-top: 70px;
          padding-left: 10px;
          color: black;

          span {
            font-size: 12px;
            margin-bottom: 20px;
            display: block;
          }
        }
      }
    }
  }
}
